<h2> Profile for <%= @user.firstname %></h2>

<form class="form" action="update" method="post">

<input type="hidden" name="authenticity_token" placeholder="<%= form_authenticity_token %>">
<input type="hidden" name="_method" value="patch">

	<p>First Name:<input type="text" name="firstname" value="<%= @user.firstname %>"></p>
	<p>Last Name:<input type="text" name="lastname" value="<%= @user.lastname %>"></p>
	<p>Email:<input type="text" name="email" value="<%= @user.email %>"></p>
	<p>City:<input type="text" name="city" value="<%= @user.city %>"></p>
	<p>State:<input type="text" name="state" value="<%= @user.state %>"></p>
	<input type="submit" value="Submit">

</form>
