<h2>Event Manager</h2>

Here are some of the events in your country:

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Location</th>
			<th>Country</th>
			<th>Host</th>
			<th>Options</th>
		</tr>
	</thead>	
	<tbody>
		<% @close.each do |event| %>
		<tr> 
			<td><a href="<%= event_detail_path id=event.id %>"><%= event.name %></a></td>
			<td><%= event.date %></td>
			<td><%= event.location %></td>
			<td><%= event.country %></td>
			<td><%= event.user.firstname %></td>
			<td>
			<% if event.user == current_user %>
			<%= link_to "Edit", edit_event_path %> 
			<%= link_to "Delete", delete_event_path, data_method: :delete %>
			<% elsif Attendance.where(attends_id: event.id)&&(attending_id: current_user.id) %>
			Joined. <%= link_to "Cancel", leave_event_path(:id => event.id) %>
			<% else %>
			<%= link_to "Join", join_event_path(:id => event.id) %>
			<% end %> 	
			</td>
		<tr>
		<% end %>	
	</tbody>

</table>

Here are some of the events in other countries:

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Location</th>
			<th>Country</th>
			<th>Host</th>
			<th>Options</th>
		</tr>
	</thead>	
	<tbody>
		<% @far.each do |event|%>
		<tr> 
			<td><a href="<%= event_detail_path id=event.id %>"><%= event.name %></a></td>
			<td><%= event.date %></td>
			<td><%= event.location %></td>
			<td><%= event.country %></td>
			<td><%= event.user.firstname %></td>
			<td>
			<% if event.user == current_user %>
			<%= link_to "Edit", edit_event_path %> 
			<%= link_to "Delete", delete_event_path, data_method: :delete %>
			<% else %>
			<%= link_to "Join", join_event_path, event_id: event.id %>
			<% end %> 	
			</td>
		<tr>
		<% end %>
	</tbody>
</table>

<h3>Add a New Event</h3>

<form class="form" action="/events/create" method="post">
<input type="hidden" name="authenticity_token" placeholder="<%= form_authenticity_token %>">
	<table>
		<thead>
		</thead>
		<tbody>
			<tr>
				<td>Name:</td> |
				<td><input type="text" name="event[name]"></td>
			</tr>
			<tr>
				<td>Date:</td>
				<td><input type="date" name="event[date]"></td>
			</tr>
			<tr>
				<td>Location:</td>
				<td><input type="text" name="event[location]"></td>
			</tr>
			<tr>
				<td>Country</td>
				<td><select name="event[country]">	
					<% @countries.each do |country| %>
					<option value="<%= country %>"><%= country %></option><% end %></select></td>
			</tr>
		</tbody>
	</table>
	<input type="submit" value="Submit">
</form>

